# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
build/
dist/

# Results & outputs
results/

# Jupyter
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

